@import '../../../lib/colors.styl'

.input_text_entry
  background: colors.green
  border none
  border-bottom: 2px solid colors.green_dark
  color: colors.white
  font-weight 500
  // fix so !important tag is not needed
  font-size 36pt !important
  padding 0
  //padding-left calc(0.4375em / 2) !important
  text-align center
  width 100%

  position: relative;
  top: 50%;
  transform: translateY(-50%);

  &:focus
    outline none
