@import '../../../lib/colors.styl'

.input_text_entry
  background: colors.green
  border: 1px solid colors.grey_dark
  color: colors.white
  font-weight 500
  // fix so !important tag is not needed
  font-size 36pt !important
  width 100%

  &:focus
    outline none
