@import '../../../node_modules/normalize-css/normalize.css'
@import '../../../node_modules/typographic/stylus/typographic.styl'
@import '../../../lib/colors.styl'

typographic()

/*
 *   D E F A U L T  S T Y L E S
*/

body
  max-width 640px
  min-width 320px
  margin .5em auto
  background: colors.green