// C O L O R S based on https://flatuicolors.com/

colors = {
  turquoise: #1abc9c,
  turquoise_dark: #16a085,

  green: #2ecc71,
  green_dark: #27ae60,

  blue: #3498db,
  blue_dark: #2980b9,

  purple: #9b59b6,
  purple_dark: #8e44ad,

  indigo: #34495e,
  indigo_dark: #2c3e50,

  yellow: #f1c40f,
  yellow_orange: #f39c12,

  orange_light: #f39c12,  // gets around yellow_orange, but less descriptive
  orange: #e67e22,
  orange_dark: #d35400,

  red: #e74c3c,
  red_dark: #c0392b,

  white: #ecf0f1,
  white_dark: #bdc3c7,

  grey_light: #bdc3c7, // Gets around white_dark, and more descriptive
  grey: #95a5a6,
  grey_dark: #7f8c8d,

  gray_light: #bdc3c7, // Gets around white_dark, and more descriptive
  gray: #95a5a6,
  gray_dark: #7f8c8d
}